<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbss.admin.cms.dao.SysOperateLogDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, oprDate AS oprDate, IP AS ip, Operate AS Operate, OperateInf AS OperateInf, OperateParams AS OperateParams, state, UserCode AS UserCode, UserName AS UserName, gmt_creater, gmt_modifier, gmt_create, gmt_modified
    </sql>

</mapper>
